*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.home{
	width: 100vw;
	background-color: #F0F0F0;
	padding-bottom: 58px;
}
.home-bg{
	// background: url(../../assets/img/home/free-center.png) no-repeat;
	// background-size: cover;
	width: 100%;
	height: 247px;
	background-color: #2B2A28;
}
.home-title{
	font-size: 19px;
	height: 46px;
	line-height: 46px;
	color:#DEBB81 ;
	background-color: #2B2A28;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 20px;
}
.home-banner{
	width: 342px ;
	height: 160px;
	background-color: bisque;
	margin:10px auto;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	
}
/deep/.my-swipe{
	height:160px;
}
.notice-swipe {
    height: 40px;
    line-height: 40px;
}
.home-tip{
margin: 0 18px;
}
.swipe-item{
	width: 100%;
}
/deep/ .van-notice-bar{
	background-color: #FFFFFF;
	height: 27px;
	color: #DEBB81;
	border-radius: 5px;
	margin-top: 10px;
}
/deep/.van-notice-bar__left-icon, .van-notice-bar__right-icon{
	margin-left: 10px;
}
.item-box{
	width: 100vw;
	height: auto;
	padding:10px 17px 0 17px;
}
.item-list{
	height: 143px;
	margin: auto;
	border-radius: 10px;
	margin-bottom: 10px;
	img{
		background-size: cover;
		width: 100%;
		height:100%;
	}
}